/* --- Contenedor Principal --- */
.signature-container {
  background-image: url('../assets/fondonew.jpeg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  max-width: 1000px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  padding: 20px;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}

.content-table {
  width: 100%;
}
/* --- Fuente Personalizada --- */
@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
}

/* --- Columna de Información Personal --- */
.info-column {
  width: 1px;
  vertical-align: middle;
  color: #ffffff;
  padding-left: 35px;
  margin-top: 40px; 
}
.info-column, .contact-column {
  flex-basis: 33%; 
}
.name {
  margin: 0;
  font-size: 23px;
  font-weight: bold;
}
.name-highlight {
  color: #ff45cc;
}
.title {
  margin: 0 0 15px;
  font-size: 11px;
  letter-spacing: 1px;
}

/* --- Iconos de Redes Sociales --- */
.social-icons img {
  width: 15px;
  height: 15px;
}
.social-icons  {
  padding: -2px;
  border-radius: 30px;
  background-color: #ff45cc;
}

/* --- Separador Vertical --- */
.separator-container {
  width: 250px;
  text-align: center;
}
.separator {
  border-left: 3px solid #ff45cc;
  height: 100px;
  display: inline-block;
}

/*  Columna de Logo y Foto  */
.photo-column {
  width: 150px;
  text-align: center;
  vertical-align: middle;
}


.profile-pic-wrapper {
  width: 161px;
  position: relative;
  display: inline-block;
  position: relative;
  z-index: 1; 
}

.profile-pic {
  width: 161px;
  border-radius: 15px;
  border: 4px solid #ffffff;
  display: block;

}
.logo-img {
  width: 60px;    
  height: auto;  
  margin-top: 38px;
  display: block;
}

/* barras izquierda y derecha */
.profile-pic-wrapper::before,
.profile-pic-wrapper::after {
  content: '';
  display: block;
  position: absolute;
  width: 25px; 
  height: 40%; 
  z-index: -1; 
  background-color: #ff45cc;
  border-radius: 8px;
  box-shadow: 0 0 25px #fdb1e9;
  top: 50%;
  transform: translateY(-50%);
}

.profile-pic-wrapper::before {
  left: -5px; /*izquierda */
}

.profile-pic-wrapper::after {
  right: -13px; /*derecha */
}


/* --- Columna de Contacto --- */
.contact-column {
  width: 220px;
  vertical-align: middle;
  padding-left: 15px;
}
.contact-details {
  font-size: 14px;
}
.contact-details a {
  text-decoration: none;
  color: #ffffff;
}
.contact-details .icon {
  width: 30px;
  vertical-align: middle;
  padding-bottom: 15px;
}
.contact-details .icon img {
  width: 20px;
}
.contact-details td {
  vertical-align: middle;
  padding-bottom: 15px;
}


@media (max-width: 768px) {

  .signature-container {
    flex-direction: column; 
    align-items: center;    
    padding: 40px 20px; 
  }
  .separator-container {
    display: none; 
  }
  .photo-column,
  .info-column,
  .contact-column {
    /* Reordenamiento */
    order: 1; 
    width: 100%;           
    max-width: 320px;      
    margin-bottom: 1px;  
    text-align: center;
    padding: 0;
  }

  /*orden específico*/
  .photo-column { order: 1; }
  .info-column { order: 2; }
  .contact-column { order: 3; }

  .social-icons {
    margin: 0 auto 10px; 
  }
  
  .contact-column {
    order: 3;
    width: 100%;
    max-width: 320px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
  }

  /*Posicionamiento del Logo en la Esquina*/
  .logo-img {
    position: absolute;   
    bottom: 25px;        
    left: 25px;           
    width: 60px;        
    margin: 0;
    z-index: 10;
  }
}